@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Do Hyeon', sans-serif;
}

html, body {
  margin: 0;
  padding: 1em;
}

body {
  background: url('https://images.unsplash.com/photo-1612863229236-60722f5ef8c9') no-repeat center fixed;     
  background-size: cover;
}

.glass {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
