@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Do Hyeon', sans-serif;
}

html, body {
  margin: 0;
  padding: 1em;
}

body {
  background: url('https://images.unsplash.com/photo-1612863229236-60722f5ef8c9') no-repeat center fixed;     
  background-size: cover;
}